services:
  postgres:
    image: "postgres:latest"
    ports:
      - '5432:5432'
    volumes:
      - ./var/lib/postgresql
    environment:
      - POSTGRES_DB=app
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password